language: node_js

node_js:
  - "0.10"

env:
  - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

before_script:
  - "npm install --dev"
  - "sudo apt-get update"
  - "sudo apt-get install -y autoconf libtool libpng12-dev zlibc zlib1g-dev libtiff-dev libungif4-dev libjpeg-dev libxml2-dev libuninameslist-dev xorg-dev subversion cvs gettext git libpango1.0-dev libcairo2-dev python-dev uuid-dev libreadline-dev cmake util-linux pkg-config libpng-dev poppler-data git libfontconfig-dev gettext libcairo2-dev libtool"
  - "mkdir deps"
  - "cd deps"
  - "wget http://poppler.freedesktop.org/poppler-0.24.2.tar.xz"
  - "tar -xvJf poppler-0.24.2.tar.xz"
  - "cd poppler-0.24.2"
  - "./configure --enable-xpdf-headers"
  - "make"
  - "sudo make install"
  - "cd .."
  - "git clone https://github.com/coolwanglu/fontforge.git"
  - "cd fontforge"
  - "./autogen.sh"
  - "./configure"
  - "make"
  - "sudo make install"
  - "cd .."
  - "git clone git://github.com/coolwanglu/pdf2htmlEX.git"
  - "cd pdf2htmlEX"
  - "cmake . && make && sudo make install"
  - "export 

script: "npm test"
